<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.futech.module.insight.mapper.pg.risk.PgAccountRiskStatMapper">

    <select id="selectPieChartDayData" parameterType="jp.co.futech.module.insight.po.req.risk.AccountRiskPieChartQueryReq"
            resultType="jp.co.futech.module.insight.po.res.risk.AccountRiskPieChartQueryRes">
        select
        rule_user_cnt as ruleUserCnt,
        total_users as totalUsers
        from ai_risk_control_account_stats t
        <where>
            <if test="req.timeRangeFormat != null and req.timeRangeFormat != ''">
                and t.time_range = #{req.timeRangeFormat}
            </if>
            <if test="req.startDate != null and req.startDate != ''">
                and t.date <![CDATA[>=]]> #{req.startDate}
            </if>
            <if test="req.endDate != null and req.endDate != ''">
                and t.date <![CDATA[<=]]> #{req.endDate}
            </if>
        </where>
    </select>

    <select id="selectPieChartMonthData" parameterType="jp.co.futech.module.insight.po.req.risk.AccountRiskPieChartQueryReq"
            resultType="jp.co.futech.module.insight.po.res.risk.AccountRiskPieChartQueryRes">
        with t1 as (select  date,max(dt) as dt  from ai_risk_control_account_stats where time_range ='monthly' group by date)
        select t.date,t.rule_user_cnt as ruleUserCnt, t.total_users as totalUsers
        from ai_risk_control_account_stats t inner join t1 on t.dt=t1.dt
        <where>
            <if test="req.timeRangeFormat != null and req.timeRangeFormat != ''">
                and t.time_range = #{req.timeRangeFormat}
            </if>
            <if test="req.startDate != null and req.startDate != ''">
                and t.date <![CDATA[>=]]> #{req.startDate}
            </if>
            <if test="req.endDate != null and req.endDate != ''">
                and t.date <![CDATA[<=]]> #{req.endDate}
            </if>
        </where>
    </select>

    <select id="selectBarChartMonthData" parameterType="jp.co.futech.module.insight.po.req.risk.AccountRiskPieChartQueryReq"
            resultType="jp.co.futech.module.insight.entity.pg.risk.PgAccountRiskStatsEntity">
        with t1 as (select  date,max(dt) as dt  from ai_risk_control_account_stats where time_range ='monthly' group by date)
        select t.dt, t.time_range,total_users, rule_user_cnt,t.date from ai_risk_control_account_stats t
        inner join  t1 on t.dt=t1.dt
        <where>
            <if test="req.timeRangeFormat != null and req.timeRangeFormat != ''">
                and t.time_range = #{req.timeRangeFormat}
            </if>
            <if test="req.startDate != null and req.startDate != ''">
                and t.date <![CDATA[>=]]> #{req.startDate}
            </if>
            <if test="req.endDate != null and req.endDate != ''">
                and t.date <![CDATA[<=]]> #{req.endDate}
            </if>
        </where>
    </select>

</mapper>
