<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.futech.module.insight.mapper.pg.TestPgMapper">

    <select id="selectCount" resultType="int">
        select count(1) from t_bi_bingo_day_game_report
    </select>
</mapper>
