<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.futech.module.insight.mapper.bh.risk.AccountRiskStatMapper">

    <select id="selectPieChartData" parameterType="jp.co.futech.module.insight.po.req.risk.AccountRiskPieChartQueryReq"
            resultType="jp.co.futech.module.insight.po.res.risk.AccountRiskPieChartQueryRes">
        select
        sum(t.rule1_users) as rule1Users,
        sum(rule2_users) as rule2Users,
        sum(rule3_users) as rule3Users,
        sum(rule4_users) as rule4Users,
        sum(rule5_users) as rule5Users,
        sum(total_users) as totalUsers
        from ai_risk_control_account_stats t
        <where>
            <if test="req.timeRangeFormat != null and req.timeRangeFormat != ''">
                and t.time_range &gt;= #{req.timeRangeFormat}
            </if>
            <if test="req.startDate != null and req.startDate != ''">
                and t.date &gt;= #{req.startDate}
            </if>
            <if test="req.endDate != null and req.endDate != ''">
                and t.date &lt;= #{req.endDate}
            </if>
        </where>
    </select>

</mapper>
