<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.futech.module.insight.mapper.bh.anomaly.AnomalyCommonMapper">

    <select id="getDimension"
            resultType="jp.co.futech.module.insight.po.res.anomaly.AnomalyGetDimensionRes">
        select distinct t.dimension,
                        t.sub_items as sub_item_str
        from t_bi_daily_ggr_anomal_dimension t
    </select>

    <select id="getAnomaly" parameterType="jp.co.futech.module.insight.po.req.anomaly.AnomalyGetAnomalyReq"
            resultType="jp.co.futech.module.insight.po.res.anomaly.AnomalyGetAnomalyRes$Anomaly">
        with t2 as (select dt, max(create_time) as max_create_time from t_bi_anomal_dot_all group by dt)
        select
        t1.metric as metric,
        t1.dt as dt,
        t1.dimension as dimension,
        t1.sub_dimension as subDimension,
        t1.ggr as ggr,
        t1.detetion_time as detetionTime,
        t1.severity as severity,
        t1.rate as rate,
        t1.anomaly_describe as anomalyDescribe,
        t1.cause_analysis as causeAnalysis,
        t1.detail as detail,
        t3.note as note,
        t3.remark as remark,
        t3.create_time as createTime,
        t1.ggr_rate as dimensionRate
        from t_bi_daily_get_anomaly t1
        left join t2
        on t1.dt = t2.dt
        left join t_bi_anomal_dot_all t3
        on t1.metric = t3.metric
        <if test="req.userName != null and req.userName != ''">
            and t3.user_name = #{req.userName}
        </if>
        and t1.dimension = t3.dimension
        and t1.sub_dimension = t3.sub_dimension
        and t2.max_create_time = t3.create_time
        <where>
            <if test="req.metric != null and req.metric != ''">
                and t1.metric = #{req.metric}
            </if>
            <if test="req.date != null and req.date != ''">
                and t1.dt = #{req.date}
            </if>
        </where>
    </select>

    <select id="getAnomalyOfPoints" parameterType="jp.co.futech.module.insight.po.req.anomaly.AnomalyGetAnomalyReq"
            resultType="jp.co.futech.module.insight.po.res.anomaly.AnomalyGetAnomalyRes$Point">
        select #{req.metric} as metric,
        dt,
        ggr_cate as ggr
        from t_bi_daily_ggr_anomal_dimension t
        <where>
            <if test="req.startDate != null and req.startDate != ''">
                and t.dt &gt;= #{req.startDate}
            </if>
            <if test="req.endDate != null and req.endDate != ''">
                and t.dt &lt;= #{req.endDate}
            </if>
            <if test="req.dimension != null and req.dimension != ''">
                and t.dimension = #{req.dimension}
            </if>
            <if test="req.subDimension != null and req.subDimension != ''">
                and t.sub_items = #{req.subDimension}
            </if>
            order by t.dt desc
        </where>
    </select>

    <select id="selectDimensions" parameterType="jp.co.futech.module.insight.po.req.anomaly.AnomalySelectDimensionsReq"
            resultType="jp.co.futech.module.insight.po.res.anomaly.AnomalySelectDimensionsRes">
        select
        t.dt,
        t.ggr_cate as ggr,
        t.sub_items as subDimension
        from t_bi_daily_ggr_anomal_dimension t
        <where>
            <if test="req.startDate != null and req.startDate != ''">
                and t.dt &gt;= #{req.startDate}
            </if>
            <if test="req.endDate != null and req.endDate != ''">
                and t.dt &lt;= #{req.endDate}
            </if>
            <if test="req.dimension != null and req.dimension != ''">
                and t.dimension = #{req.dimension}
            </if>
            <if test="req.subDimension != null and req.subDimension.size() == 1">
                and t.sub_items = #{req.subDimension[0]}
            </if>
            <if test="req.subDimension != null and req.subDimension.size() > 1">
                and t.sub_items in
                <foreach collection="req.subDimension" item="subItem" index="index" open="(" separator="," close=")">
                    #{subItem}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertNotes" parameterType="jp.co.futech.module.insight.po.req.anomaly.AnomalySaveNoteRemarkReq">
        insert into t_bi_anomal_dot_all
        select
        metric,user_name,dt,dimension,sub_dimension,ggr,detetion_time,severity,rate,anomaly_describe,cause_analysis,detail,#{req.note},#{req.remark},now()
        from t_bi_anomal_dot_all
        <where>
            <if test="req.userName != null and req.userName != ''">
                and user_name = #{req.userName}
            </if>
            <if test="req.date != null and req.date != ''">
                and dt = #{req.date}
            </if>
        </where>
    </insert>
</mapper>
